.group-A {
  position: fixed;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
@media only screen and (max-width: 600px) {
  .group-A {
    width: 100%;
  }
  .cart-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 80px;
    padding: 0px 30px;
  }
  /* html,
  body {
    overflow-x: hidden;
  } */
  .cart-b1 {
    /* display: none; */
    top: 20%;
    width: 120%;
    position: relative;
    left: 0;
    top: 10px;
    padding: 0;
  }
  .cart-box-btn {
    display: flex;
    flex-direction: column;
    width: 200px;
  }
  .box-cart-1 {
    justify-content: center;
    width: 100%;

    padding: 0 105px;
  }
  .box-car-img {
    width: 150px;
  }
  .exp-container {
    width: 100%;
    flex-direction: column;
  }
  .cart-head {
    width: 171%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 150px;
  }
  .shopping-head {
    padding: 0;
  }
}
